.venv/
__pycache__/
*.pyc
.DS_Store
CLAUDE.md
.github/copilot_instructions.md

data/
src/test*
test.py


# Data Science & Jupyter
.ipynb_checkpoints/
data/
*.log

# Python
__pycache__/
*.py[cod]
*.class
__pycache__/
.env
